<%- include('partials/header',{title:'Reset Password'}); %>

  <body class="">
    <% if(messages && messages.error){ %>
      <div id="snackbar">
          <%= messages && messages.error %>
      </div>
      <% } %>
        <div class="page">
          <div class="page-single">
            <div class="container">
              <div class="row">
                <div class="col col-login mx-auto">
                  <div class="text-center mb-6">
                    <img src="./assets/brand/tabler.svg" class="h-6" alt="">
                  </div>
                  <form class="card" action="/reset-password/date" name='resetPassForm' method="post">
                    <div class="card-body p-6">
                      <div class="card-title">Reset password</div>
                      <p class="text-muted">Set your new password below.</p>
                      <input type="hidden" name='token' class="form-control" value='<%= form && form.token %>'>

                      <div class="form-group">
                        <label class="form-label" for="exampleInputEmail1">Email address</label>
                        <input type="email" name='email' class="form-control" value='<%= form && form.email %>' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      </div>
                      <div class="form-group">
                        <label class="form-label" for="exampleInputpassword1">New Password</label>
                        <input type="password" name='password' class="form-control" value='<%= form && form.password %>' id="exampleInputpassword1" aria-describedby="" placeholder="new password">
                      </div>
                      <div class="form-group">
                        <label class="form-label" for="exampleInputpassword2">Confirm Password</label>
                        <input type="password" name='confirmPassword' class="form-control" value='<%= form && form.password %>' id="exampleInputpassword2" aria-describedby="" placeholder="confirm password">
                      </div>
                      <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
                      </div>
                    </div>
                  </form>
                  <div class="text-center text-muted">
                    Forget it, <a href="/login">send me back</a> to the log in screen.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('partials/scripts'); %>



  </body>



  <%- include('partials/footer'); %>